<div class="row">
    <div class="col s12">
         <h1>About</h1>
         <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quidem ea excepturi hic tenetur ducimus vero deserunt accusamus, fugiat minus, velit expedita cupiditate. Rerum, doloribus aspernatur, inventore tempore id iure nisi ipsam consequuntur sunt impedit consectetur perferendis officia alias incidunt, pariatur assumenda quos quis aperiam. Quos dignissimos, cupiditate eveniet atque iusto, architecto quia nam dolorum natus mollitia officia, obcaecati ipsam.</p>
         </div>

         <a href="https://us-central1-news-af63b.cloudfunctions.net/helloWorld">Demo Cloud Function</a>
        
    </div>
</div>