 
  <!-- Section: Slider-->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="../assets/images/p3.jpg" alt="" />
        <div class="caption center-align">
          <h2 class="black-text">Last Posts</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
          <a [routerLink]="['/posts']" class="btn teal btn-larg">Read More</a>
        </div>
      </li>
      <li>
        <img src="../assets/images/p5.jpg" alt="" />
        <div class="caption left-align">
          <h2 class="black-text">Know about our Comunity</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
          <a [routerLink]="['/about']" class="btn  teal btn-larg">Learn More</a>
        </div>
      </li>
      <li>
        <img src="../assets/images/p9.jpg" alt="" />
        <div class="caption right-align">
          <h2 class="black-text">
             Subscribe & Share your Ideas
          </h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          </h5>
          <a class="btn teal btn-larg" [routerLink]="['/add']" >Publish a Post</a>
        </div>
      </li>
    </ul>
  </section>
