<div class="container">
    <div class="col s12">
        <h2>Welcome</h2>
        <br>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod temporibus magnam expedita, beatae distinctio nam omnis molestiae hic. Repudiandae quae enim, non aspernatur corrupti quia excepturi ut unde deleniti similique accusamus. Praesentium quaerat temporibus aliquid, rem, hic vero quidem id illum modi a quo quisquam quas, blanditiis rerum deleniti alias ipsam sequi inventore iure molestias. Voluptate quod minima voluptatum sapiente consequuntur voluptas doloremque expedita itaque adipisci veritatis placeat id corrupti nobis exercitationem porro repellat, quo ut? Dolorem itaque amet culpa a tempora optio minima delectus voluptatum cupiditate adipisci laudantium numquam tempore rem repudiandae modi omnis, temporibus totam. Tempore laborum dicta ut natus ad at rerum dolor deserunt eveniet iste corporis facere adipisci voluptatum possimus culpa, blanditiis quidem perspiciatis. Id esse mollitia nostrum eveniet, quam dicta?</p>
    </div>
</div>